{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>WALLET SYSTEM</h1>
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.firstname }}!</h2>
    {% else %}
        <h2>Welcome to the site!</h2>
    {% endif %}
  </div>
</div>

{% endblock %}
