{% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}

<style>
   #page-content-wrapper {
    background: url("{% static 'img/basebg.PNG' %}") no-repeat;
    background-size: cover;
    /* Add any other styles you need for #page-content-wrapper */
  }

  .custom-container {
    /* Your container styles */
    display: flex;
    justify-content: center;
  }

  .jumbotron {
  background-color: rgba(33, 37, 41, 0.7); /* Darker background color */
  color: #ffffff; /* Light text color */
  /* Other styles for the jumbotron */
  margin: 0 auto;
}

  

  .custom-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 0.3in;
    padding-left: 150px;
  }
  h1 {
    color: #9C7B16;
    margin-bottom: 20px;
  }
  .regbtn {
    margin-top: 1cm;
    text-align: center;
    margin-bottom: -1cm;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-label {
    font-weight: bold;
  }
  .form-control {
    width: 100%;
    height: 40px;
    border-radius: 10px;
  }
  .btn-primary {
    width: 500px;
    background-color: #9C7B16;
    border-radius: 50px;
    padding: 10px 20px;
  }
  a:hover, a:active, a:link, a:visited {
    color: #9C7B16;
  }
  .logo {
    width: 110px;
    height: 100px;
    margin-bottom: 20px;
  }
</style>

<div class="container custom-container">
  <div class="jumbotron">
    <div style="display: flex; justify-content: center;">
      <div style="display: flex; justify-content: center;">
        <img src="{% static 'img/title.png' %}" alt="Logo" class="logo" style="width: 80%; max-width: 800px; margin-top: 20px; height: auto;">
      </div>
      
    </div>    
    
    <center>
      <h1 style="font-family: 'Arial', sans-serif;">Points and Coins</h1>
   
    
    <h6>Please fill in the details of your account.</h6>
  </center>
    <form id="login-form" method="post" action="{% url 'basic_app:user_login' %}">
      {% csrf_token %}
      <div class="form-group">
        
        <div class="form-group">
          <label class="form-label" for="email">Email<span class="required-field">:</span>*</label>
          <input class="form-control" type="email" name="email" placeholder="Enter your email" id="id_email" required>
          <span id="email-error" class="error-message"></span>
          
        </div>
        <div class="form-group">
          <label class="form-label" for="password">Password<span class="required-field">:</span>*</label>
          <input class="form-control" type="password" name="password" placeholder="Enter your password" id="id_password" required>
          <span id="password-error" class="error-message"></span>
        </div>
        
        
        
        
      <div class="regbtn">
        <input class="btn btn-primary" type="submit" value="Login">
      </div>
    </form>
    <br><br>
      <p class="login-link" style="text-align: center; color: #ffff;">Don't have an account? <a href="{% url 'basic_app:register' %}">Register</a></p>
    </div>
    
  </div>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function validateForm() {
    var email = document.getElementById("id_email").value;
    var password = document.getElementById("id_password").value;
    var emailErrorElement = document.getElementById("email-error");
    var passwordErrorElement = document.getElementById("password-error");
    var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    if (!emailPattern.test(email)) {
      emailErrorElement.innerHTML = "Invalid email address";
      return false;
    } else {
      emailErrorElement.innerHTML = "";
    }

    if (password === "") {
      passwordErrorElement.innerHTML = "Password is required";
      return false;
    } else {
      passwordErrorElement.innerHTML = "";
    }

    return true;
  }
</script> -->


{% endblock %}