<!-- user_list.html -->
{% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}
<div class="container custom-container" style="margin-top: 20px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#userListTab">User List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#transactionsTab">Transactions</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="userListTab">
            <div class="jumbotron">
                <h1>User List</h1>
                <table id="users" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Point Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.user.email }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.point_balance }}</td>
                                <td>
                                    <button class="btn btn-primary awardPointsButton" style="background-color:#9C7B16;" data-recipient="{{ user.user.id }}">Actions</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="transactionsTab">
            <div class="jumbotron">
                <h1>Transactions</h1>
                <table id="transactions" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Recipient</th>
                            <th>Points</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.transactionID }}</td>
                                <td>{{ transaction.recipient_id }}</td>
                                <td>{{ transaction.points }}</td>
                                <td>{{ transaction.date }}</td>
                                <td>{{ transaction.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    <div class="modal" id="awardPointsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Award Points</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add the form elements for awarding points -->
                    <form id="awardPointsForm" method="post" action="">
                        {% csrf_token %}
                        <!-- Form fields for awarding points go here -->
                        <div class="form-group">
                            <label for="recipient">Recipient:</label>
                            <input type="text" class="form-control" id="recipient" name="recipient" readonly>
                        </div>
                        <div class="form-group">
                            <label for="points">Points:</label>
                            <input type="number" class="form-control" id="points" name="points">
                        </div>
                        <div class="form-group">
                            <label for="date">Date:</label>
                            <input type="text" class="form-control" id="date" name="date" readonly>
                        </div>
                        <div class="form-group">
                            <label for="time">Time:</label>
                            <input type="text" class="form-control" id="time" name="time" readonly>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            // Function to handle form submission
            $('#awardPointsForm').submit(function(event) {
                event.preventDefault(); // Prevent the default form submission
                
                // Retrieve the form data
                var formData = new FormData(this);
                formData.set('recipient', $('#recipient').val());

                // Perform the points transaction
                $.ajax({
                    url: '/basic_app/user_list/',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        var awardedPoints = parseFloat($('#points').val());
                        var recipientID = $('#recipient').val();
                        var recipientPointBalanceCell = $('table#users td:contains("' + recipientID + '")').siblings(':nth-child(4)');
                        console.log(recipientPointBalanceCell); // Check the selected cell
                        console.log(recipientPointBalanceCell.length); // Check the length of the selected cell
                        var currentPointBalance = parseFloat(recipientPointBalanceCell.text());
                        var newPointBalance = currentPointBalance + awardedPoints;
                        recipientPointBalanceCell.text(newPointBalance.toFixed(2)); // Update the point balance in the table
                        console.log(awardedPoints); // Log the response for debugging purposes
                        // Update the point balance in the table or perform any other necessary actions
                        $('#awardPointsModal').modal('hide'); // Hide the modal
                        window.location.reload()
                    },
                    error: function(xhr, status, error) {
                        // Handle the error response
                        console.error(error); // Log the error for debugging purposes
                        // Display an error message or perform any other necessary actions
                    }
                });
                
            });

            // Function to handle "Award Points" button click
            $(document).on('click', '.awardPointsButton', function() {
                var recipient = $(this).data('recipient');
                $('#recipient').val(recipient);

                // Auto-fill date and time fields with current date and time
                var currentDate = new Date();
                var dateString = currentDate.toLocaleDateString();
                var timeString = currentDate.toLocaleTimeString();
                $('#date').val(dateString);
                $('#time').val(timeString);

                $('#awardPointsModal').modal('show');
            });
        });
    </script>
{% endblock %}
